// quote styles

.quote {
  font-family: 'PT Sans Narrow', 'PT Sans', Arial, sans-serif;
  text-align: center;

  blockquote {
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  cite {
    font-style: normal;
    font-size: 20px;
  }
}