// pre-footer styles

.pre-footer {
  min-height: 395px;
  background-image: url('../images/pre-footer/prefooter-bg.jpg');
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;

  p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin-top: 95px;
    margin-bottom: 40px;
  }

  .padding {
    @include padding(50px);
  }
}