//- Include Modules
include ../button/button


mixin pre-footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.pre-footer.row
    .container
      .col-xs-12
        p I am deeply committed to both our exchange and innovation and ask you to vote for me to serve on the CME Board of Directors as your elected Class B-1 Director.

        +button()

        .padding