mixin footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer
    .container
      .row
      .col-xs-12.col-sm-4
        a Footer Link 
      .col-xs-12.col-sm-4
        a Footer Link 
      .col-xs-12.col-sm-4
        a Footer Link 

      .row.copyright
        .col-xs-12
          p &copy; 2016 Victor Kungw