// page-title styles

.page-title {
  height: auto;
  color: white;

  .row {
    height: 100%;
  }

  .lead {
    padding: 50px 0px 50px 15px;
    max-width: 100%;
  }

  h1 {
    font-size: 60px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
  }

  p {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .page-title {
    height: 260px;
    
    .lead {
      @include vertical-align();
    }
  
  }
}


// Specific Styling for Page Title of
// the HPA page
.hpa-page .page-title .lead {
  padding: 50px 50px;
}

@media screen and (min-width: 768px) {
  .hpa-page .page-title .lead {
    padding: 0 50px;
  }
}