// *** IMPORTING STYLES ***

// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Bootstrap Grid/Layout and Utilities CSS
@import '../_styles/bootstrap';

// Import Utilities (Variables & Mixins)
@import '../_styles/utilities';

// Fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700); /* PT Sans */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic|Montserrat:700); /* Merriweather & Montserra */

// Mignific Popup
@import '../_styles/magnific-popup';

// Import Slick JS
// $slick-font-path: '../../fonts/';
// $slick-loader-path: '../images/';
// @import 'node_modules/slick-carousel/slick/slick.scss';
// @import 'node_modules/slick-carousel/slick/slick-theme.scss';




// *** IMPORTING MODULES ***
@import '../_modules/header/header';
@import '../_modules/footer/footer';




// *** GLOBAL LAYOUT STYLES ***

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  // font-family: 'PT Sans', sans-serif;
  font-family: 'Merriweather', Times, serif;
}

.body-container {
  width: 100%;
  max-width: 1366px;
  margin: auto;
}


// *** TYPOGRAPHY STYLES ***

body {
  font-size: 16px;
  // Therefore 1 em = 16pxt
}


// @media screen and (min-width: 768px) {
//   body {
//     font-size: 18px;
//   }
// }

// @media screen and (min-width: 992px) {
//   body {
//     font-size: 16px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   body {
//     font-size: 20px;
//   }
// }


h1, h2, h3, h4, h5, h6, p, a {
  -webkit-backface-visibility: hidden;  
  // prevents the button hover opacity from effecting other elements
}

// h1 { font-size: 2.7em; line-height: 1.1em; }
// h2 { font-size: 2.4em; line-height: 1.2em; }
// h3 { font-size: 2em; line-height: 1.3em; }
// h4 { font-size: 1.6666666667em; }
// h5 { font-size: 1.2em; }


a, button  {
  @include transition(all 0.5s ease);
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

