// *** IMPORTING STYLES ***

// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Bootstrap Grid/Layout and Utilities CSS
@import '../_styles/bootstrap';

// Importing Utilities
@import 'utilities';

// Fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700); /* PT Sans */
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400,700,700italic|Montserrat:700); /* Merriweather & Montserra */

// Mignific Popup
@import '../_styles/magnific-popup';

// Import Slick JS
// $slick-font-path: '../../fonts/';
// $slick-loader-path: '../images/';
// @import 'node_modules/slick-carousel/slick/slick.scss';
// @import 'node_modules/slick-carousel/slick/slick-theme.scss';




// *** IMPORTING MODULES ***
@import '../_modules/header/header';
@import '../_modules/page-title/page-title';
@import '../_modules/testimonial/testimonial';
@import '../_modules/quote/quote';
@import '../_modules/footer/footer';
@import '../_modules/button/button';
@import '../_modules/press-banner/press-banner';
@import '../_modules/cme-letter/cme-letter';
@import '../_modules/pre-footer/pre-footer';
@import '../_modules/experience-panel/experience-panel';




// *** GLOBAL LAYOUT STYLES ***

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  color: $black;
  overflow-x: hidden;
  font-family: 'Merriweather', Times, serif;
}

.body-container {
  width: 100%;
  max-width: 1366px;
  margin: auto;
}

.container {
  height: 100%;
}

.body-padding {
  padding-top: 100px;
}

// *** TYPOGRAPHY STYLES ***

body {
  font-size: 14px;
  // Therefore 1 em = 16px
}


@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}



h1, h2, h3, h4, h5, h6, p, a {
  -webkit-backface-visibility: hidden;  
  // prevents the button hover opacity from effecting other elements
}

h1, h2, h3, h4 {
  font-family: 'PT Sans Caption', 'PT Sans', Arial, sans-serif;
}

h1 {
  font-size: 3em; /* 48px */
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75em; /* 60px */
  }
}

h2 {
  font-size:  2.22em; /* 40px */
  line-height: 60px;
  margin: 0 0 75px 0;
}

h3, h4, h5 {
  color: #50525a;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 2.22em; /* 40px */
  margin: 0 0 40px 0;
}

h4, h5 {
  font-size: 1.875em; /* 30px */
  margin: 10px 0 30px 0;
}

h5 {
  font-family: 'PT Sans Narrow', 'PT Sans Caption', Arial, sans-serif;
}

// h1 { font-size: 2.7em; line-height: 1.1em; }
// h2 { font-size: 2.4em; line-height: 1.2em; }
// h3 { font-size: 2em; line-height: 1.3em; }
// h4 { font-size: 1.6666666667em; }
// h5 { font-size: 1.2em; }


p, figcaption {
  line-height: 24px;
  margin: 20px 0;
}

p {
  font-weight: 300;
}

figcaption {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

a, button  {
  @include transition(all 0.5s ease);
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}


// Trading Experience
.two-col-text {
  margin: 50px 0 50px;

  p {
    margin-bottom: 35px;
    line-height: 28px;
  }

  img {
    display: block;
    margin: 25px auto 0;
  }

  .padding-top {
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .two-col-text {
    margin: 75px 0 75px;
  }
}



// Hyde Park Angels page
.hpa-page {
  .quote {
    margin-top: 50px;
  }
}

.single-col-text {
  max-width: 850px;
  padding: 50px 50px 35px 50px;
  margin: auto;

  p {
    margin-bottom: 35px;
  }

  img {
    margin: 25px 0 30px;
    max-width: 100%;
  }
}


// Alternative Finance
.alternative-finance-page {
  p.highlight {
    color: $blue;
    line-height: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  img.alt-finance-studies {
    max-height: 575px;
  }
}

@media screen and (min-width: 768px) {
  .alternative-finance-page {
    p.highlight {
      text-align: left;
      margin-left: initial;
      margin-right: initial;
    }
    .two-col-text img {
      margin-left: initial;
      margin-right: initial;
      margin-bottom: 25px;
    }
} 
}
