extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

//- Include Modules
include ../_modules/header/header
include ../_modules/page-title/page-title
include ../_modules/testimonial/testimonial
include ../_modules/pre-footer/pre-footer
include ../_modules/footer/footer

block content

  .alternative-finance-page

    +header()
    .body-padding
    +page-title({
      title: 'Alternative Finance',
      subtitle: 'There is a huge opportunity to create a secondary market for these loans and provide pricing transparency and risk transference for the issuers and users of these products',
      bg_img: 'images/page-title/alternative-finance-banner.jpg',
      max_width: 765,
      margin: 'auto'
    })

    .two-col-text
      .row
        .container
          .col-xs-12.col-sm-offset-1.col-sm-5
            p.
              The Alternative Finance Institute at The University of Chicago, in partnership with the Center for Alternative Finance at Cambridge University, is conducting the first worldwide study on the growth of Alternative Finance. 

            p.
              TToday, finance platforms such as crowdfunding and peer-to-peer lending are utilizing cutting edge technology to change the way in which people and institutions access money.  


          .col-xs-12.col-sm-5
            //- p.highlight.
            //-   Article: Cambridge Centre for Alternative Finance Receives $1 Million Grant from CME Group Foundation

            img(src=baseUrl + "images/cambridge-university.jpg" alt="Cambridge University" width="375")


      .row
        .container
          .col-xs-12.col-sm-offset-1.col-sm-10
            p.
              Mr. Monieson, an Associate Director of the Alternative Finance Institute at University of Chicago Booth Business School, played a lead role in establishing the CME as a leading sponsor of the first-ever study. 

    +testimonial({
      testimonial: "I want Doug involved in everything I do, and I could not recommend him more highly.",
      source: "Ira Weiss",
      source2: "Hyde Park Venture Partners",
      source3: "Clinical professor of entrepreneurship, university of chicago"
    })


    .single-col-text
      .row
        .col-xs-12.col-sm-offset-1.col-sm-10
          h4.text-center.pt-narrow Additional Information on The Alternative Finance Institute at the University of Chicago is Available at<br><a href="http://www.polskycenter.com/altfin" target="_blank" style="color: #00aed1;">http://polskycenter.com/altfin</a>

      .row
        .col-xs-12
          p.
            Information made available on such website does not constitite a part of this website or this solicitation for your proxy.

    //- .two-col-text
    //-   .row
    //-     .container
    //-       .col-xs-12.col-sm-offset-1.col-sm-10
    //-         h4 The Studies

    //-   .row
    //-     .container
    //-       .col-xs-12.col-sm-offset-1.col-sm-5
    //-         p
    //-           a.blue(href="https://drive.google.com/file/d/0B0Y4GDBgkFHTc1EtejhKTkMzU2M/view" target="_blank") Download the UK Study
            
    //-         a(href="https://drive.google.com/file/d/0B0Y4GDBgkFHTc1EtejhKTkMzU2M/view" target="_blank")
    //-           img(src=baseUrl+"images/alt-finance-uk.jpg" alt="Alternative Finance UK Study" class="alt-finance-studies")

    //-       .col-xs-12.col-sm-5
    //-         p
    //-           a.blue(href="" target="_blank") Download the APAC Study
    //-         a(href="" target="_blank")
    //-           img(src=baseUrl+"images/alt-finance-apac.jpg" alt="Alternative Finance APC Study" class="alt-finance-studies")


    +pre-footer()
    +footer()