@import 'utilities';


// header styles
header.main-navigation {
  position: relative;
  height: 100px;
  text-transform: uppercase;

  .container {
    height: 100%;
  }

  li {
    list-style: none;
  }

  a {
    color: $dark-blue;
  }

  .logo {
    float: left;
    font-family: 'Montserrat', 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -2px;
    @include vertical-align();
  
    a:hover {
      opacity: 0.7;
    }
  }

  
  // Desktop Header
  .desktop-nav {
    display: none;
    float: right;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    @include vertical-align();

    a:hover {
      color: $light-blue;
    }

    li {
      display: inline;
      padding: 0 17.5px;
    }

    a.contact-btn {
      color: #368ad9;
      border: 2px solid #368ad9;
      font-size: 16px;
      font-family: 'PT Sans Caption', Arial, sans-serif;
      padding: 17.5px;
      border-radius: 10px;
    }

  }


  // Mobile Navigation & Overlay
  .mobile-nav {
      display: block;
      float: right;
      @include vertical-align();
  }

  .mobile-nav-popup {
    @include fixed-pos(0px, 0px, 0px, 0px);
    font-family: 'PT Sans', Arial, sans-serif;
    display: none;
    margin: 0;
    padding-top: 150px;
    z-index: 150;
    list-style: none;
    background: rgba(10, 30, 50, 0.95);

    #close-btn {
      position: fixed;
      @include fixed-pos(25px, 25px, auto, auto);
      color: white;
      font-size: 36px;
    }

    li {
      padding: 7.5px 0;
      
      a {
        color: white;
        font-size: 28px;
      }
    }

  }

}
  

// Fixed Header Styling - Non Homepage
header.fixed {
  @include fixed-pos(auto, 0px, auto, 0px);
  z-index: 100;
  background: white;
}


// Make sure that the Desktop header shows up in Desktop view and the mobile header does not
@media screen and (min-width: 992px) {
  header.main-navigation {
    .desktop-nav {
      display: block;
    }
    .mobile-nav {
      display: none;
    }
  }
}