extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

//- Include Modules
include ../_modules/header/header
include ../_modules/page-title/page-title
include ../_modules/testimonial/testimonial
include ../_modules/pre-footer/pre-footer
include ../_modules/footer/footer

block content
  .trading-experience-page
  
    +header()
    .body-padding

      +page-title({
        title: 'Trading Experience',
        subtitle: 'Doug Monieson, a second generation CME member, is an active electronic futures trader with thirty years of experience. ',
        bg_img: 'images/page-title/trading-experience-banner.jpg',
        max_width: 740
      })

    .two-col-text
      .row
        .container
          .col-xs-12.col-sm-6
            p.
              He has a proven track record in trading, risk management, and new product development. He has founded, backed and successfully overseen several brokerage, local and trading groups at the CME and CBOT.   He holds membership on the CME, CBOT, NYMEX and COMEX.

            p.
              Mr. Monieson serves on the Pit Supervision Committee and is a founding member and former Pit Vice-Chairman of the NASDAQ 100 futures pit. In addition, he is a long-time and influential member of the CME Political Action Committee. 
            p.
              Furthermore, he served on the B-1 nominating committee and worked with CME to enhance its communications to Class B shareholders regarding candidate selection and the election process. 

          .col-xs-12.col-sm-6
            img(src=baseUrl + "images/trading-work.jpg" alt="Douglas Monieson at Work" width="400")


      .row
        .container
          .col-xs-12.col-sm-6
            img(src=baseUrl + "images/mccain.jpg" alt="Douglas Monieson with Senator John McCain" width="500")

          .col-xs-12.col-sm-6
            p.padding-top.
              He initiated and played a lead role in building a relationship between the CME Group Foundation and Cambridge University in London and Tsinghua University in China. The partnerships now provide the CME research with opportunities to launch new product innovation and expand customer reach within the growing field of Alternative Finance in Europe and Asia.

    +testimonial({
      testimonial: "I consider him a trusted mentor and close friend. In my current role, he has been a great outlet and always has an intelligent, yet very logical perspective on today’s current market issues and events.",
      source: "Dan Gunsberg",
      source2: "COO, DV Trading"
    })

    .two-col-text
      .row
        .container
          .col-xs-12.col-sm-offset-2.col-sm-8
            h4 Early Career
            p.
              While in high school he started his finance career as a runner, phone clerk and arb clerk on the floor of the CME.  

            p.
              He interned with Bank of America on the Singapore International Monetary Exchange (SIMEX) and in sales and trading with Salomon Brothers. 

            p.
              After completing his M.B.A. he traded spot foreign exchange for Manufacturers Hanover in New York and then Commodities Corporation which returned him to Chicago and the CME. 

            p.
              He has a B.A. in Economics from University of Michigan and M.B.A. in Finance from University of Chicago, Booth School of Business.

  
    +pre-footer()
  
   +footer()