extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

//- Include Modules
include ../_modules/header/header
include ../_modules/page-title/page-title
include ../_modules/footer/footer
include ../_modules/pre-footer/pre-footer
include ../_modules/experience-panel/experience-panel

block content
  +header()
  .body-padding
  +page-title({
    title: 'Board Experience',
    subtitle: 'Experienced board member with nominating, governance, and compensation expertise',
    bg_img: 'images/page-title/board-experience-banner.jpg',
    max_width: 850
  })

  +experience-panel({
    logo: 'images/experience-panel/hpa-logo.png',
    logo_alt: 'Hyde Park Angels Logo',
    logo_width: '325',
    timeline: '2008 - present',
    description: 'HPA is the premier Midwest early stage investor group that connects entrepreneurs and members through financial and human capital to foster successful outcomes for members, companies and communities.',
    bullet1: 'Chairman Emeritus and Board Member 2016 - Present',
    bullet2: 'Chairman of the Board 2012-2016',
    bullet3: 'Hired new Managing Director, 2014',
    bullet4: 'Launched Hyde Park Venture Partners fund, 2011',
    bullet5: 'Formalized University of Chicago and Hyde Park Angels relationship',
    bullet6: 'Installed succession plan for board members and leadership committees',
    bullet7: 'Revised bylaws',
    bullet8: 'Established the first Director and Officer Insurance Policy for an angel group'
  })

  +experience-panel({
    logo: 'images/experience-panel/gradebeam-logo.png',
    logo_alt: 'GradeBeam Logo',
    logo_width: '220',
    timeline: '2008 - 2011 (3 years)',
    description: 'Led HPA’s investment in Gradebeam, a cloud-based project management suite for construction industry. Company was acquired by Textura Corporation in 2011. ',
    bullet1: 'Created board of directors',
    bullet2: 'Recruited independent director',
    bullet3: 'Re-engaged original investors',
    bullet4: 'Restructured CEO compensation',
    bullet5: 'Hired investment banker and sourced acquirer'
  })

  +experience-panel({
    logo: 'images/experience-panel/duratouch-logo.png',
    logo_alt: 'duraTouch Logo',
    logo_width: '225',
    timeline: '2012 - present',
    description: 'UICO is a Silicon Valley based, venture backed touch technology company that allows touch through water and gloves. Our customers include Fortune 1000 companies in the industrial, medical, wearable and marine sectors.',
    bullet1: "Sourced experienced mentor for companies' CEO",
    bullet2: 'Helped install tech team in San Francisco',
    bullet3: 'Oversaw professionalization of company management'
  })

  +experience-panel({
    logo: 'images/experience-panel/hpvp-logo.png',
    logo_alt: 'Hyde Park Venture Partners Logo',
    logo_width: '220',
    timeline: '2012 - present',
    description: 'Limited Partners Advisory Committee for $25M early stage venture capital fund focused on software startups in the Midwest.',
    bullet1: 'Established valuation criteria for the fund',
    bullet2: 'Addressed potential conflicts of interest between General and Limited Partners',
    bullet3: 'Helped HPVP manage conflicts from investment overlap between initial and second fund'
  })

  +experience-panel({
    logo: 'images/experience-panel/rails-to-trails-logo.png',
    logo_alt: 'Rails to Trails Logo',
    logo_width: '135',
    timeline: '2015 - present',
    description: 'RTC is an $8M/year charity creating a nationwide network of trails from former rail lines to build healthier places for healthier people.',
    bullet1: 'Created metrics for managing Projects of National Significance',
    bullet2: 'Restructured marketing committee to promote mission of the organization',
    bullet3: 'Introduced large bike manufacturer with goal to form partnership and sponsorship'
  })

  +pre-footer()
  +footer()