extends _layouts/base

//- Include Modules
include _modules/header/header
include _modules/footer/footer
include _modules/press-banner/press-banner
include _modules/pre-footer/pre-footer


block content
  +header({
    home: true
  })


  +press-banner()

  +pre-footer()
  +footer()