extends _layouts/base

//- Include Modules
include _modules/header/header
include _modules/footer/footer


block content
  +header()

  .container
    .col-xs-12
      h1 Welcome to Yeogurt!
      //- p.
        Take a look at the
        #[+link({text: 'documentation'})(href='https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---')]
        and start mixing up something awesome.
      p
        img.logo(src="images/yeogurt-swirl.png", width="75px")



  +footer()