@import 'utilities';


// press-banner styles
.press-banner {
  height: auto;
  padding: 30px 0 15px;
  font-size: 20px;
  background: #f8f8f8;
  font-family: 'PT Sans', Arial, sans-serif; 

  .container { 
    height: 100%;
    text-align: center;
  }
  
  p {
    margin: 0;
  }
  
  p, ul, li {
    float: left;
  }
  
  ul {
    margin: 20px 0 0 0;
    padding: 0; 
    width: 100%;
  }

  li {
    display: inline;
    list-style: none;

  }

  a:hover {
    opacity: 0.7;
  }

  img {
    height: 35px;
    max-width: 100%;
    margin-right: 50px;
    margin-bottom: 25px
  }

}


@media screen and (min-width: 1200px) {

  .press-banner {
    height: 100px;
    padding: 0;

    p {
      // display: inline;
      margin: 0 85px 0 0 ;
      @include vertical-align();
    }

    ul {
      width: initial;
      margin: 0;
      @include vertical-align();
    }

    img {
      margin-bottom: 0;
    }

  }

}