extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

//- Include Modules
include ../_modules/header/header
include ../_modules/page-title/page-title
include ../_modules/testimonial/testimonial
include ../_modules/quote/quote
include ../_modules/pre-footer/pre-footer
include ../_modules/footer/footer

block content
  
  .hpa-page

    +header()
    .body-padding
    +page-title({
      title: 'Hyde Park Angels',
      subtitle: 'Hyde Park Angels is one of the premier midwest early stage investor groups that connects entrepreneurs and members through financial and human capital to foster successful outcomes for members, companies and communities ',
      bg_img: 'images/page-title/hpa-banner.jpg',
      max_width: 850
      })

    +quote({
      quote: "''Doug was an outstanding asset in the process of establishing an angel fund: he is a savvy investor who asks the right questions, gets at tough issues, and sees matters through to resolution.''",
      source: "DONNA ZARCONE, PRESIDENT AND CEO OF ECONOMICS CLUB OF CHICAGO"
    })


    .row.single-col-text
      .container
        .col-xs-12
          p.
            Doug Monieson is Chairman Emeritus and a member of the board of directors of Hyde Park Angels, one of the largest and most active member-driven angel groups in the Midwest. With a membership of over 100 successful entrepreneurs, executives, and venture capitalists, the organization prides itself on providing not only capital, but also critical strategic expertise to entrepreneurs and the entrepreneurial community. 

          p.
            By leveraging the members’ deep and broad knowledge of multiple industries and financial capital, Hyde Park Angels has driven multiple exits and invested millions of dollars in over 60 portfolio companies that have created over 850 jobs in the Midwest since 2007. Mr. Monieson became a Hyde Park Angel’s investor in 2008, and served as Chairman until his term expired in June 2016, when he became Chairman Emeritus.

    .row.single-col-text(style="padding-top: 0px;")
      .container
        .col-xs-12(style="text-align: center;")
          img(src=baseUrl + "images/hpa-social.jpg" alt="Hyde Park Angels Social Event" style="max-width: 600px;")


    +testimonial({
      testimonial: "PEOPLE VOLUNTEERING TOGETHER IN THE SPIRIT OF COOPERATION CAN ACCOMPLISH GREAT THINGS",
      source2: "Benjamin Franklin"
    })


    .row.single-col-text
      .container
        .col-xs-12
          p.
            The first deal Mr Monieson led at HPA in 2008 was an investment in Gradebeam, a pioneer of Software as a Service (Saas) in the construction industry. Investing in a construction company during the greatest recession in our lifetime was both challenging and rewarding. The investment thesis was that our customers,  America’s largest General Contractors, would embrace technology during an economic slowdown to drive down costs and improve efficiencies. Led by an outstanding CEO and board of industry insiders, we doubled revenues and were acquired in 2011 by Textura Corporation (TXTR).

          p.
            “Investing in a construction company during the greatest recession in our lifetime was both challenging and rewarding,” said Monieson. “The investment thesis was that our customers, America’s largest general contractors, would embrace technology during an economic slowdown to drive down costs and improve efficiencies. Led by an outstanding CEO and board of industry insiders, we doubled revenues and were acquired in 2011 by Textura Corporation (TXTR).”

    +testimonial({
      testimonial: "Through Doug's leadership with the investment of Hyde Park Angels, GradeBeam.com was able to significantly increase revenue and market share which resulted in a successful exit for the investors.",
      source: "Bryan Jurewitz",
      source2: "CEO of Gradebeam, Now COO of ThreadMeUp"
    })

    .single-col-text
      .container
        .row
          .col-xs-12.col-sm-offset-1.col-sm-10
            h5.text-center Additional Information on Hyde Park Angels Can Be Found At<br><a href="http://www.hydeparkangels.com" target="_blank" style="color: #00aed1; word-break: break-word;">www.hydeparkangels.com</a>

        .row
          .col-xs-12
            p.
              Information made available on such website does not constitite a part of this website or this solicitation for your proxy.


    +pre-footer()
    +footer()